﻿<a class="btn btn-dark mb-2" href="/Cuenta/Index">
    <i class="bi bi-arrow-left-circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
    </i>
    Regresar
</a>

<h2>CrearCuenta</h2>

<form method="post" action="/Cuenta/CrearCuenta">
    <div class="form-group">
        <label>Nombre</label>
        <input name="Nombre"  class="form-control" />
        
    </div>

    <div class="form-group">
        <label>Categoria</label>
        <select name="Categoria"  class="form-control">
            <option>--- Seleccione una categoria de cuenta ---</option>
            <option value="Propia">Propia</option>
            <option value="Crédito">Crédito</option>

        </select>
    </div>

    <div class="form-group">
        <label>Saldo Inicial</label>
        <input name="Monto" class="form-control" />
        
    </div>

    <button id="GuardarCuenta" class="btn btn-success">Guardar</button>
</form>