﻿
<div class="d-flex justify-content-between mb-3">
    <h2 class="mb-3">Mis Cuentas</h2>
    <div>
        <button type="button" class="btn btn-info" data-bs-toggle="popover" title="Dinero propio" data-bs-content="Ahorros">Saldo:  @ViewBag.Propio</button>
        <button type="button" class="btn btn-info" data-bs-toggle="popover" title="Credito" data-bs-content="">Credito:  S/. @ViewBag.Credito</button>
    </div>
</div>

    <div class="d-flex justify-content-between mb-5">
        <a id="botonCuenta" class="btn btn-outline-dark" href="/Cuenta/CrearCuenta">Crear Cuenta</a>

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a class="btn btn-outline-success" href="/Cuenta/CrearIngreso"> Añadir Ingreso</a>

            <a class="btn btn-outline-danger" href="/Cuenta/CrearGasto"> Realizar Gasto</a>
        </div>


    </div>
 
    <table class="table table-striped" id="TablaCuentas">
        <thead>
            <tr>
                <th>Cuenta</th>
                <th>Categoria</th>
                <th>Saldo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cuenta in Model)
            {
                <tr>
                    <td>@cuenta.Nombre</td>
                    <td>@cuenta.Categoria</td>
                    <td>S/. @cuenta.Monto</td>
                    <td>
                        <a id="botonIngreso" class="btn btn-success btn-sm" href="/Cuenta/Ingresos?id=@cuenta.Id">Ingresos</a>

                        <a id="botonGasto" class="btn btn-danger btn-sm" href="/Cuenta/Gastos?id=@cuenta.Id">Gastos</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
