﻿<a class="btn btn-dark mb-2" href="/Cuenta/Index">
    <i class="bi bi-arrow-left-circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
    </i>
    Regresar
</a>

<h2>Transferir a Amigo</h2>


<form method="post" action="/Cuenta/TransferirAmigo">
    <div class="form-group">
        <label>Trasferir desde cuenta:</label>
        <select name="idCuentaGasto" class="form-control">
            <option value="">--- Seleccione una Cuenta ---</option>
            @foreach (var item in ViewBag.cuentas)
            {
                <option value="@item.Id"> @item.Nombre </option>
            }
        </select>

    </div>
    <div class="form-group">
        <label>Hasta cuenta:</label>
        <select name="idCuentaIngreso" class="form-control">
            <option value="">--- Seleccione una Cuenta ---</option>
            @foreach (var item in ViewBag.cuentasContacto)
            {
                <option value="@item.Id"> @item.Nombre </option>
            }
        </select>

    </div>


    <div class="form-group">
        <label>Fecha y hora</label>
        <input type="date" name="fecha" class="form-control" />
    </div>

    <div class="form-group">
        <label>Monto</label>
        <input name="monto" class="form-control" value="@Model" />
        @Html.ValidationMessage("Monto")
    </div>

    <button class="btn btn-success">Guardar</button>
</form>
