﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Inicio de sesion</h2>

<form action="/auth/login" method="post">
    @if (TempData["AuthMessage"] != null)
    {
        <p id="AuthMessage">@TempData["AuthMessage"]</p>
    }
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Usuario</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" name="Username">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" name="Password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mb-4">Inicia Sesion</button>
</form>

<a class="btn btn-outline-info" href="/auth/registrar">Registrate</a>