﻿
<form action="/auth/registrar" method="post">

    <div class="form-group">
        <label>Username</label>
        <input type="text" name="Username" value="" class="form-control" />

    </div>
    <div class="form-group">
        <label>Contraseña</label>
        <input type="password" name="PasswordConf" value="" class="form-control" />
    </div>



    <button class="btn btn-success">Registrar</button>
</form>